body {
    margin: 0;
    text-align: center;
    font-family:  Georgia, 'Times New Roman', Times, serif; 

    background-color: black;
    background-image: url('./assets/falcon_bg_black_overlay.png');    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    

}

button {
  width: 7em;
  height: 3em;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.prompt {
  opacity: 70%;
  background-color: white;
  width: 40%;
  padding: 1em 0 1em 0;
}
